.container h1{
  border-bottom: 1px solid rgba(224, 224, 224, 0.774);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.container .row {
  margin-bottom: 15px;
}

.TaskForm .input-form{
  margin-bottom: 10px;
}

.TaskForm .button-form{
  display: flex;
  justify-content: center;
}

.TaskForm .mr-auto{
  width: 100%;
}

.TaskForm .delete-icon {
  width: 15px;
  float: right;
  margin-top: 3px;
  cursor: pointer;
}

.TaskList {
  text-align: center;
}

.TaskList .none-center{
  text-align: left;
}

.check-icon {
  width: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
}